body{
    background-color: rgba(95, 62, 92, 0.582);
    background-image:url("/images/castor.png");
    background-repeat: no-repeat;
    background-position: auto;
    color:rgb(6, 69, 71);
}

.intro{
    font-family: cursive;
    text-align: center;
    padding-top: 130px;
    padding-left: 160px;

}
li{
    display:inline-block;
    justify-content:center;
    padding-right: 20px;
    padding-left: 20px;
    background-color:darkgray;
    border-radius: 100px;
}

footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align: center;
    background-color: darkgray;
    margin-bottom: 10px;
    
}